.container {
  width: 1200px;
  margin: 0 auto;
}
menu {
  display: flex;
  gap: 46px;
  margin: 32px 0px 32px 93px;
}
.logo-index-position {
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
}

.nav-position {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin: 32px 0px 32px 371px;
}
.position-info {
  display: flex;
  justify-content: center;
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  list-style: none;
}
.foto-list {
  flex-direction: column;
  margin: unset;
  flex-basis: calc((100% - 60px) / 3);
}
.first-baby {
  display: flex;
  gap: 93px;
  align-items: center;
}
.second-baby {
  display: flex;
  gap: 50px;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
}
figure {
  border: 1px solid #eeeeee;
}
